#   Folders
/media/*
!/media/props/

#   Environment and environment variables files and folder
.venv/
myenv/
.env

#   Python folders
__pycache__/
modules/__pycache__/

#   Files
create_doc.py
Makefile
make.bat
