#   Folders
/media/*
!/media/props/
/data/
/source/
/myenv/

#   Environment and environment variables files and folder
.venv/
.env
.rst
#   Python folders
__pycache__/
modules/__pycache__/

#   Files
create_doc.py
Makefile
make.bat
